language: ruby
cache: bundler
os: osx

rvm:
- 2.4.4

before_install:
  - /usr/bin/curl -sfL http://github.com/mxcl/homebrew/tarball/master | /usr/bin/tar xz -m --strip 1
  - brew -v
  - brew update
  - brew doctor
  - brew upgrade node
  - npm install -g appium
  - npm install wd
  - bundle install

script:
  - appium &
  - sleep 8
  - cucumber
